body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #22b2da;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0.575);
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

button:hover {
  background-color: white;
}

.title {
  font-size: 2.5rem;
}

.restart-button {
  border-radius: 13px;
  padding: 10px 20px;
  font-size: 1.125rem;
  cursor: pointer;
}

.restart-button:hover {
  -webkit-box-shadow: 0 5px rgb(159, 159, 159);
  box-shadow: 0 5px rgb(159, 159, 159);
}

.restart-button:active {
  -webkit-box-shadow: 0 3px #666;
  box-shadow: 0 3px #666;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

.counter-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.number {
  font-size: 7.5rem;
  margin: 20px 0;
}

.number-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  text-align: center;
}

.number-button span {
  font-size: 2.5rem;
  line-height: 1;
}

.material-symbols-outlined {
  position: fixed;
  padding: 10px;
  bottom: 20px;
  right: 20px;
  font-size: 3.125rem;
  cursor: pointer;
}

@media (max-height: 650px) {
  .title {
    display: none;
  }

  .restart-button {
    margin: 20px 0;
  }

  .counter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
  }
}

@media (max-height: 650px) and (max-width: 500px) {
  .counter-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .number {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
  }

  .minus {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .plus {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}

@media (min-width: 768px) {
  .number {
    font-size: 10.625rem;
  }
}
